<div class="min-h-screen flex items-center justify-center bg-gradient-to-tr from-blue-100 via-blue-200 to-blue-300">
  <div class="bg-white rounded-3xl shadow-2xl w-[90vw] max-w-7xl h-[90vh] max-h-3xl ">
    <div class="relative shadow-lg w-[90vw] max-w-7xl h-[9vh] max-h-lg  rounded-t-3xl flex flex-row justify-center items-center">
      <div class="absolute left-5 flex ">
        <a routerLink="/admin/manage-admins"><img class="w-14 h-14 rounded-full border-2" src="logo.png" alt="UPFCON Logo"/></a>
      </div>
      <div class="h-full flex items-center divide-x divide-gray-200">
        <div class="flex-1 justify-center h-full flex items-center px-5 py-0 rounded-tl-3xl hover:bg-gray-100">
          <a routerLink="dashboard">Dashboard</a>
        </div>
        <div class="flex-1 justify-center h-full flex items-center px-5 py-0 hover:bg-gray-100">
          <a routerLink="profile">Profile</a>
        </div>
        <div class="flex-1 justify-center h-full flex items-center px-5 py-0 hover:bg-gray-100">
          <a routerLink="manage-admins">Admins</a>
        </div>
        <div class="flex-1 justify-center h-full flex items-center px-5 py-0 hover:bg-gray-100">
          <a routerLink="manage-users">Users</a>
        </div>
        <div class="flex-1 justify-center h-full flex items-center px-5 py-0 rounded-tr-3xl  hover:bg-gray-100">
          <a routerLink="validations">Validations</a>
        </div>
      </div>
      <div class="absolute right-5 flex ">
        <button (click)="logout()">
          <img class="w-14 h-14" src="/logout-yellow.png" alt="Logout button"/>
        </button>
      </div>
    </div>
    <div class="flex-2/3 flex-col w-[90vw] max-w-7xl h-[80vh] max-h-lg rounded-b-3xl ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

