@if (passwordAbstractControl?.invalid && passwordAbstractControl?.touched) {
  @if (passwordAbstractControl?.errors?.['required']) {
    <app-input-error [errorMsg]="requiredErr"/>
  } @else if (passwordAbstractControl?.errors?.['minlength']) {
    <app-input-error [errorMsg]="'The password must be at least 8 characters long'"/>
  } @else if (passwordAbstractControl?.errors?.['maxlength']) {
    <app-input-error [errorMsg]="'Max length exceeded'"/>
  } @else if (passwordAbstractControl?.errors?.['pattern']) {
    <app-input-error [errorMsg]="'The password must be at least 8 characters long, contain upper-case and lower-case letters, numbers, and special characters'"/>
  } @else if (passwordAbstractControl?.errors?.['fieldsMismatch']) {
    <app-input-error [errorMsg]="'The passwords don\'t match'"/>
  }
}
