<div class="w-screen h-screen flex bg-[#1C2127] justify-between">
  <div class="flex flex-col h-1/2 justify-center p-16">
    <div class="text-4xl font-semibold font-serif text-white">You are not authorized.</div>
    <div class="text-xl font-serif text-white">You tried to access a page you did not have prior authorization for.</div>
    <div class="text-xl font-serif text-yellow-300 flex">
      <img src="/left-arrow.png" alt="Arrow" class="w-10 h-10"/>
      <a class="pt-1 pl-4" routerLink="/">
        Get outta heeere</a>
    </div>
  </div>
  <div class="flex flex-col p-16">
    <div class="neon">403</div>
    <div class="door-frame">
      <div class="door">
        <div class="rectangle">
        </div>
        <div class="handle">
        </div>
        <div class="window">
          <div class="eye">
          </div>
          <div class="eye eye2">
          </div>
          <div class="leaf">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
