<!--<div class="flex flex-col">-->
<!--  <form [formGroup]="editForm" class="w-full h-[70vh] overflow-auto px-16 py-5">-->

<!--    <div class="flex p-3">-->
<!--      <h1 class="text-3xl font-mono font-semibold">{{ h1 }}</h1>-->
<!--    </div>-->
<!--    @if (showAlert) {-->
<!--      <app-error-div-->
<!--        [errorMsg]="errorMsg"-->
<!--        [src]="src"-->
<!--        [color]="color"-->
<!--      />-->
<!--    }-->
<!--    <fieldset>-->
<!--      <div class="flex gap-2 w-full p-3">-->
<!--        <input type="hidden" formControlName="id"/>-->
<!--        <div class="flex-1 flex flex-col">-->
<!--          <label class="px-2 pb-2 font-mono">First name</label>-->
<!--          <input type="text" required formControlName="firstName" placeholder="First name"-->
<!--                 class="p-2 input rounded-l-lg border-2 disabled:bg-blue-100 border-blue-200">-->
<!--          <app-input-errors [abstractControl]="editForm.get('firstName')"-->
<!--                            [requiredErr]="'First name field is required'"/>-->
<!--        </div>-->
<!--        <div class="flex-1 flex flex-col">-->
<!--          <label class=" pb-2 font-mono">Last name</label>-->
<!--          <input type="text" required formControlName="lastName" placeholder="Last name"-->
<!--                 class="p-2 input rounded-r-lg border-2 disabled:bg-blue-100 border-blue-200">-->
<!--          <app-input-errors [abstractControl]="editForm.get('lastName')" [requiredErr]="'Last name field is required'"/>-->
<!--        </div>-->
<!--      </div>-->
<!--      @if (isEdit) {-->
<!--        <div class="flex w-full p-3 flex-col">-->
<!--          <label class="px-2 pb-2 font-mono">Account status</label>-->
<!--          <select class="p-2 input rounded-lg border-2 disabled:bg-blue-200 border-blue-200 disabled:border-blue-300"-->
<!--                  required formControlName="accountStatus">-->
<!--            <option value="">Account status</option>-->
<!--            <option value="PendingVerification">Pending Verification</option>-->
<!--            <option value="Verified">Verified</option>-->
<!--            <option value="Rejected">Rejected</option>-->
<!--            <option value="Deleted">Deleted</option>-->
<!--          </select>-->
<!--          <app-input-errors [abstractControl]="editForm.get('accountStatus')"-->
<!--                            [requiredErr]="'Please choose an account status'"/>-->
<!--        </div>-->
<!--      } @else {-->
<!--        <input type="hidden" formControlName="accountStatus">-->
<!--      }-->
<!--      <div class="flex w-full p-3 flex-col">-->
<!--        <label class="px-2 pb-2 font-mono">Email</label>-->
<!--        <input type="text" required formControlName="email" placeholder="Email"-->
<!--               class="p-2 input rounded-lg border-2 disabled:bg-blue-100 border-blue-200">-->
<!--        <app-input-errors [abstractControl]="editForm.get('email')" [requiredErr]="'Email field is required'"/>-->
<!--      </div>-->
<!--      <div class="flex w-full p-3 flex-col">-->
<!--        <label class="px-2 pb-2 font-mono">Phone number</label>-->
<!--        <input type="text" required formControlName="phoneNumber" placeholder="Phone number"-->
<!--               class="p-2 input rounded-lg border-2 disabled:bg-blue-100 border-blue-200">-->
<!--        <app-input-errors [abstractControl]="editForm.get('phoneNumber')"-->
<!--                          [requiredErr]="'Phone number field is required'"-->
<!--                          [patternErr]="'Correct format: +212 6/7 XX XX XX XX'"/>-->
<!--      </div>-->
<!--      <div class="flex w-full p-3 flex-col">-->
<!--        <label class="px-2 pb-2 font-mono">Birthdate</label>-->
<!--        <input type="date" required formControlName="birthdate" placeholder="Birthdate"-->
<!--               class="p-2 input rounded-lg border-2 disabled:bg-blue-100 border-blue-200">-->
<!--        <app-input-errors [abstractControl]="editForm.get('birthdate')" [requiredErr]="'Birthdate field is required'"/>-->
<!--      </div>-->
<!--      <div class="flex w-full p-3 flex-col">-->
<!--        <label class="px-2 pb-2 font-mono">Address</label>-->
<!--        <textarea type="text" formControlName="address" placeholder="Address"-->
<!--                  class="p-2 input rounded-lg border-2 disabled:bg-blue-100 border-blue-200"></textarea>-->
<!--        <app-input-errors [abstractControl]="editForm.get('address')"/>-->
<!--      </div>-->
<!--    </fieldset>-->
<!--  </form>-->
<!--  <div class="flex justify-center">-->
<!--    <div class="flex p-5 gap-2 text-white">-->
<!--      @if (isEdit) {-->
<!--        @if (isDisabled) {-->
<!--          <button type="button" class="rounded-lg w-fit py-2 px-4 bg-black hover:bg-gray-800"-->
<!--                  (click)="enableForm()">-->
<!--            Edit information-->
<!--          </button>-->
<!--        } @else {-->
<!--          <button type="button" class="rounded-lg w-fit py-2 px-4 bg-black hover:bg-gray-800"-->
<!--                  (click)="sendEditRequest()">-->
<!--            Confirm changes-->
<!--          </button>-->
<!--        }-->
<!--      } @else {-->
<!--        <button type="button" class="rounded-lg w-fit py-2 px-4 bg-black hover:bg-gray-800" (click)="addUpdateAdmin(true)">-->
<!--          Save-->
<!--        </button>-->
<!--      }-->
<!--      @if (!isEdit) {-->
<!--        <button type="button" class="rounded-lg w-fit py-2 px-4 bg-black hover:bg-gray-800"-->
<!--                (click)="onReset()">-->
<!--          Reset-->
<!--        </button>-->
<!--      }-->

<!--      @if (isEdit) {-->
<!--        @if (!isDisabled) {-->
<!--          <button type="button" class="rounded-lg w-fit py-2 px-4 bg-black hover:bg-gray-800"-->
<!--                  (click)="cancelChanges()">-->
<!--            Cancel changes-->
<!--          </button>-->
<!--        }-->
<!--        <button type="button" class="rounded-lg w-fit py-2 px-4 bg-black hover:bg-gray-800"-->
<!--                (click)="showEditCredentialsModel(true)">Edit credentials-->
<!--        </button>-->
<!--        @if (!hideButton) {-->
<!--          <button type="button" class="rounded-lg w-fit py-2 px-4 bg-red-700 hover:bg-red-500"-->
<!--                  (click)="showDeleteAccountModal()">Delete account-->
<!--          </button>-->
<!--        }-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->
<!--  @if (showModal) {-->
<!--    <app-warning-modal [h3]="h3" [message]="message" (respond)="modalResponse($event)"></app-warning-modal>-->
<!--  }-->
<!--  @if (showChangeCredentialsModal) {-->
<!--    <app-edit-credentials [oldEmail]="email" (closeModalEvent)="showEditCredentialsModel($event)"/>-->
<!--  }-->
<!--  @if (showDeleteAccountWarningModal) {-->
<!--    <app-warning-modal [h3]="'Danger zone'"-->
<!--                       [message]="'Are you sure you want to delete this account? This action is permanent and cannot be undone.'"-->
<!--                       (respond)="deleteAdmin($event)"></app-warning-modal>-->
<!--  }-->
<!--</div>-->
