<div class="relative z-10 " aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>


  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    @if (showChangePasswordModal) {
      <app-warning-modal [h3]="'Confirm password change'" [message]="'Are you sure you want to change your password? This action is irreversible'" (respond)="changePasswordResponse($event)"/>
    }
    <div class="flex min-h-full justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative w-[80vw] transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 ">
        <div class="flex flex-col items-center bg-white px-8 pt-7 pb-4 sm:p-6 sm:pb-4">
          <h1 class="font-sans font-semibold text-4xl mb-5">Edit login credentials</h1>
          @if (showAlert) {
            <app-error-div [errorMsg]="passwordEditErr" [src]="passwordEditSrc" [color]="passwordEditColor"/>
          }
          <button class="absolute right-5 top-5" (click)="closeModal()">
            <img ngSrc="/close.png" alt="close" height="20" width="20"/>
          </button>
          <div class="xs:flex-col md:flex justify-between px-10 py-5">
            <div class="flex-1 flex-col">
              <h2 class="text-xl font-sans text-red-500 font-bold mb-2">Important notice</h2>
              <p class="mb-2">Once you click confirm on this form, an email will be sent to your current email address
                in order to confirm your identity. You must follow the link for the email change to take
                effect.
              </p>

              <p class="mb-2">If you no longer have access to that email, we’re unable to complete the change for security reasons.</p>

              <p>This process helps us protect the safety and integrity of your account.</p>

              <br/>
              <h1 class="text-2xl font-mono">Edit email</h1>
              <form [formGroup]="editEmailForm">
                <div class="flex w-full py-3 flex-col">
                  <label class="pb-2 font-mono  text-lg">Old email address</label>
                  <input type="email" required formControlName="oldEmail" placeholder="Old email address"
                         class="p-2 input rounded-lg border-2 border-gray-200">
                </div>
                <div class="flex w-full py-3 mb-2 flex-col">
                  <label class="pb-2 font-mono text-lg">New email address</label>
                  <input type="email" required formControlName="newEmail" placeholder="New email address"
                         class="p-2 input rounded-lg border-2 border-gray-200">
                  @if (editEmailForm.get('newEmail')?.invalid && editEmailForm.get('newEmail')?.touched) {
                    <app-input-error [errorMsg]="'Invalid email'"/>
                  }
                </div>
                <div class="flex justify-center">
                  <button type="button" class="rounded-lg text-white w-fit py-2 px-4 bg-black hover:bg-gray-800">Confirm
                  </button>
                </div>
              </form>
            </div>
            <div class="border-2 my-10 md:m-10"></div>
            <div class="flex-1 flex items-center">
              <div class="flex-1 flex-col h-fit">
                <h1 class="text-2xl font-mono">Edit Password</h1>
                <br/>
                <form [formGroup]="editPasswordForm">
                  <div class="flex w-full py-3 flex-col">
                    <label class="pb-2 font-mono text-lg">Old password</label>
                    <input type="password" required formControlName="oldPassword" placeholder="Old password"
                           class="p-2 input rounded-lg border-2 border-gray-200">
                    <app-password-errors [passwordAbstractControl]="editPasswordForm.get('oldPassword')" [requiredErr]="'You must provide your old password'"/>
                  </div>
                  <div class="flex w-full py-3 flex-col">
                    <label class="pb-2 font-mono text-lg">New password</label>
                    <input type="password" required formControlName="newPassword" placeholder="New password"
                           class="p-2 input rounded-lg border-2 border-gray-200">
                    <app-password-errors [passwordAbstractControl]="editPasswordForm.get('newPassword')" [requiredErr]="'Please provide the new password'"/>
                  </div>
                  <div class="flex w-full py-3 flex-col mb-2">
                    <label class="pb-2 font-mono text-lg">Confirm password</label>
                    <input type="password" required formControlName="confirmPassword" placeholder="Confirm password"
                           class="p-2 input rounded-lg border-2 border-gray-200">
                    <app-password-errors [passwordAbstractControl]="editPasswordForm.get('confirmPassword')" [requiredErr]="'You must confirm your password'"/>
                  </div>
                  <div class="flex justify-center">
                    <button type="button" class="rounded-lg text-white w-fit py-2 px-4 bg-black hover:bg-gray-800" (click)="sendChangePasswordRequest()">Confirm
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
